@{
    ViewData["Title"] = "Success";
}
<body style="background-color: #192d50;">
    <h1 class="text-white text-center pt-5 mt5">You successfully remove an attraction!</h1>
    <div>

        <a asp-action="Index">Back to List</a>
    </div>
    </body>