<div class="row">
    <div class="col-xs-12 col-md-12">
        @*<div style="height: 850px;">*@
            <div class="float-left text-center text-white  @*h-50*@" style="background-color:purple;width:50%">
                <h3 class="text-center pt-3">Contact Us</h3>

                <p>
                    We'd love to hear from you! If you have any questions or
                    feedback about our website, please feel free
                </p>
                <p >
                    to reach out
                    to us via email, phone, or social media.

                </p>


                <h5 class=" pt-3">Email</h5>

                <p>
                    If you prefer to contact us via email,
                    please send a message to <a href="https://www.abv.bg/">magi044@abv.bg</a>
                </p>

                <h5 class="pt-3">Phone</h5>

                <p>
                    If you'd like to speak with someone over the phone
                    ,
                </p>
                <p style="line-height:1px">
                    please call <a href="">+359 89 900 2717</a> during our
                    business hours <a href="">10am-6pm</a>.
                </p>


                <h5 class=" pt-3">Social Media</h5>

                <p>
                    You can also contact us via social media.
                    Follow us on <a href="https://www.facebook.com/">Facebook</a>
                </p>
                <p >
                    and send us a direct message or tag us in a
                    post
                </p>


                <p class="pt-4 font-weight-bolder font-italic">
                    Thank you for reaching out to us! We will
                    respond to your message as soon as possible.
                </p>

            </div>
            <div class="float-right pl-3 @*h-50*@" style="width: 50%;height:100%">
                <iframe class="text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.550632172058!2d23.030714315752338!3d42.60727677917107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sbg!2sbg!4v1679467327668!5m2!1sbg!2sbg" style="width:100%;height:100%;border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
@*</div>*@