@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<html>
<head>
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>



<body>

    @*<div class="containerSlide">
            <video autoplay="" class="box1" id="box1" src="/clips/video.mp4"></video>
            <video autoplay="" class="box2" id="box2" src="/clips/sea.mp4"></video>
            <video autoplay="" class="box3" id="box3" src="/clips/ndk.mp4"></video>
        </div>*@
    <div id="carouselExampleIndicators" class="carousel row slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner containerSlide">
            <div class="carousel-item active">
                <video @*autoplay="autoplay"*@ @*controls*@ autoplay muted preload="auto" class="box1" id="box1" src="/clips/video.mp4"></video>
            </div>
            <div class="carousel-item">
                <video @*autoplay="autoplay"*@ @*controls*@ autoplay muted preload="auto" class="box2" id="box2" src="/clips/sea.mp4"></video>
            </div>
            <div class="carousel-item">
                <video @*autoplay="autoplay"*@ @*controls*@ autoplay muted preload="auto" class="box3" id="box3" src="/clips/ndk.mp4"></video>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <script>


        var box1 = document.getElementById('box1');
        var box2 = document.getElementById('box2');
        var box3 = document.getElementById('box3');


        box2.onended = function () {
            box3.play();
            box2.style.opacity = 0;
            box3.style.opacity = 1;
        }
        box3.onended = function () {
            box1.play();
            box3.style.opacity = 0;
            box1.style.opacity = 1;
        }
        box3.onended = function () {
            box1.play();
            box3.style.opacity = 0;
            box1.style.opacity = 1;
        }
        box1.onended = function () {
            box2.play();
            box1.style.opacity = 0;
            box2.style.opacity = 1;
        }

    </script>

    <div class="row">
        <div class="col-xs-6 col-md-6 fatherDiv " style="background-color:black;height:900px">
            <div class="childDiv">
                <h3 class="text-white">NEW ADVENTURES  </h3>
                @*<button type="button"><a asp-controller="Excursion" asp-action="Excursion">SHOP NOW</a></button>*@
                <button class="button btn-primary " onclick="window.location.href='/Excursion'">SHOP NOW</button>
            </div>

        </div>

        <div class="col-xs-6 col-md-6 pt-2" style="background-color:red;">
            <div class="container">
                <div class="grid">
                    <div class="row">
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img class="img-fluid " height="210" width="620" src="/img/monument.png" alt="Monuments" />
                                <figcaption>
                                    <h2> <span>Monuments</span></h2>
                                    <p>
                                        <a href=""><i class="fa fa-search"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img src="/img/museum.png" alt="museums" />
                                <figcaption>
                                    <h2> <span>Museums</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img src="/img/mountain.png" alt="mountain" />
                                <figcaption>
                                    <h2> <span>Mountains</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <figure class="effect-ravi">
                                <img src="/img/park.png" alt="img25" />
                                <figcaption>
                                    <h2> <span>Natural Resorts"</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col">
                            <figure class="effect-ravi">
                                <img src="/img/places.png" alt="img25" />
                                <figcaption>
                                    <h2><span>Discover New Places</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <figure class="effect-ravi">
                                <img src="https://picsum.photos/2000/300/?random" alt="img25" />
                                <figcaption>
                                    <h2> <span>Fortress</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img src="https://picsum.photos/1000/800/?random" alt="img17" />
                                <figcaption>
                                    <h2> <span>Summer Activities</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img src="https://picsum.photos/1000/801/?random" alt="img25" />
                                <figcaption>
                                    <h2> <span>Waterfalls</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="effect-ravi">
                                <img src="https://picsum.photos/1000/802/?random" alt="img25" />
                                <figcaption>
                                    <h2> <span>Winter Activities</span></h2>
                                    <p>
                                        <a href="#"><i class="fa fa-search"></i></a>

                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row" style="background-color:darkblue">
        -<div class="container">
        <div class="col-xs-12 col-md-12" style="height:500px;background-color:red">
            <div class="text-center pt-5 h1 font-weight-bolder text-white">
                The Most Popular
            </div>
            @*<div class="container">*@
                @*kato mahna container stava na celiq ekran*@
                <div class="row" style="height:400px">
                    <div class="containerDiv col-xs-4 col-md-4 " style="background-color:blue">
                        <img   src="/img/borovets.png" />
                        <div class="middle">
                            <div class="text">Borovets</div>
                        </div>
                    </div>
                    <div class="containerDiv1 col-xs-4 col-md-4 " style="background-color:yellow">
                        <img style="width:100%" src="/img/sunnybeach.png" />
                        <div class="middle1">
                            <div class="text1">Sunny beach</div>
                        </div>
                    </div>
                    <div class="containerDiv2 col-xs-4 col-md-4 " style="background-color:green">
                        <img src="/img/tarnovo.png" />
                        <div class="middle2">
                            <div class="text2">Veliko Tarnovo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
    <!--<div class="row">
    <div class="col-xs-12 col-md-12" style="height:1000px;background-color:black">
        <div class="text-center pt-5 h1 font-weight-bolder text-white">
            NOW ON SALE
        </div>
        <div class="text-center h4 font-italic text-white">
            UP TO 50% OFF
        </div>
        <div class="mt-5 mb-2" style="height:250px;">-->
    @*<div class="col-xs-1"></div>
        <div class="col-xs-5 col-md-5 " style="background-color:purple">


        </div>

        <div class="col-xs-5 col-md-5" style="background-color:red">
            some text
        </div>
        <div class="col-xs-1"></div>*@
    <!--<div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
            <div class="mb-2" style="height: 250px;">
                <div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
            <div class="mb-2" style="height: 250px;">
                <div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
        </div>

    </div>-->

    <div class="row" style="background-color:black">
        <div class="col-xs-12 col-md-12" style="height:1000px;background-color:black">
            <div class="text-center pt-5 h1 font-weight-bolder text-white">
                NOW ON SALE
            </div>
            <div class="text-center h4 font-italic text-white">
                UP TO 50% OFF
            </div>
            <div class="mt-5 mb-2" style="height:250px;">
                @*<div class="col-xs-1"></div>
                    <div class="col-xs-5 col-md-5 " style="background-color:purple">


                    </div>

                    <div class="col-xs-5 col-md-5" style="background-color:red">
                        some text
                    </div>
                    <div class="col-xs-1"></div>*@
                <div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
            <div class="pb-2" style="height: 250px;">
                <div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
            <div class="pb-2" style="height: 250px;">
                <div class="float-left ml-5 h-75" style="background-color:purple;width:46%">
                    sdsd
                </div>
                <div class="float-right mr-5 h-75" style="background-color: red; width: 46%">
                    hjhklljkjkljkl
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-12 col-md-12" style="height:650px;background-color:black">
                <div style="height: 750px;">
                    <div class="float-left text-center text-white  h-75" style="background-color:purple;width:50%">
                        <h3>Contact Us</h3>

                        <p class="text-justify pl-5 pr-5 pt-3 ">
                            We'd love to hear from you! If you have any questions or
                            feedback about our website, please feel free to reach out
                            to us via email, phone, or social media.
                        </p>

                        <h5>Email</h5>

                        <p class="text-justify pl-5 pr-5 pt-3 ">
                            If you prefer to contact us via email,
                            please send a message to <a href="https://www.abv.bg/">magi044@abv.bg</a>
                        </p>

                        <h5>Phone</h5>

                        <p class="text-justify pl-5 pr-5 pt-3 ">
                            If you'd like to speak with someone over the phone
                            , please call <a href="">+359 89 900 2717</a> during our
                            business hours <a href="">10am-6pm</a>.
                        </p>

                        <h5>Social Media</h5>

                        <p class="text-justify pl-5 pr-5 pt-3 ">
                            You can also contact us via social media.
                            Follow us on <a href="https://www.facebook.com/">Facebook</a> and send us a direct message or tag us in a
                            post
                        </p>

                        <p class="text-justify pl-5 pr-5 pt-3 font-weight-bold font-italic">
                            Thank you for reaching out to us! We will
                            respond to your message as soon as possible.
                        </p>

                    </div>
                    <div class="float-right  h-75" style="background-color: red; width: 50%">
                        <iframe class="d-flex justify-content-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.550632172058!2d23.030714315752338!3d42.60727677917107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sbg!2sbg!4v1679467327668!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>*@
























</body>

</html>