
<style>
   p{
       padding-right:130px;
       
   }
    .txt {
        padding-left: 40px;
    }
</style>


<div class="m-5 txt">
    <div class="mt-5 ml-5 mr-5 pr-5 " >
        <h1 class="display-4 font-weight-bold mb-2">Privacy Policy</h1>
        <br />

        <p class="h5 mb-4 text-justify">At 'Bulgaria' we understand the importance of protecting your personal information. This privacy policy outlines the types of information that may be collected as well as how that information will be used and protected.</p>

       <h2> Information Collected</h2>
       
        <p class="font-weight-bold">We may collect personal information such as your:</p>   

        <ul>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Address</li>
            <li>Email address</li>

        </ul>
        <p class="font-italic text-justify">when you provide it to us voluntarily. We may also collect non-personal information such as your IP address, browser type, time zone and other similar data.</p>

        <h2>Use of Information:</h2>
        <p class="text-justify">
            This information may be used to personalize your experience on our website or to contact you regarding promotions or other information you may be interested in. We may also use it to improve our site or to analyze site usage patterns.
        </p>




        <h2>Protection of Information:</h2>
        <p class="text-justify">
            We will never share or sell your personal information to third parties unless required to by law or with your express consent. We have taken reasonable measures to protect your personal information, including implementing physical, electronic and procedural safeguards to ensure your privacy is protected.

        </p>

        <h2>Changes to Privacy Policy:</h2>
        <p>We reserve the right to change this privacy policy at any time without notice. Any changes made will be posted on this page.</p>

        <h2>
            Updating Your Information:
        </h2>
        <p>You may contact us at any time to update or remove or personal information.</p>


        <h2>Contact Information</h2>
        <p>If you have any questions or concerns about our privacy policy, please go to <a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a></p>
    </div>

</div>































