<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulgariaApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>
<body>
    <header>
        <nav style="background-color: #030b15; font-size: 20px;"  id="navbar_top" class="fixed-top h6 navbar navbar-expand-sm navbar-toggleable-sm @*navbar-light bg-white*@ border-bottom box-shadow mb-3 ">
            <img   src="~/img/bglogo.png" width="80" height="80" alt=""class="img-fluid">
            <div class="container">
                <a  class="navbar-brand name" style="font-size:27px"asp-area="" asp-controller="Home" asp-action="Index">Bulgaria</a>
                <button class="navbar-toggler"style="background-color: #555; color: gray;" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#"
                                   id="dropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Attractions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkCategories">
                                    <a class="dropdown-item" asp-area="" asp-controller="Attraction" asp-action="Index">Attractions</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=monument">Monuments</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=museum">Museum</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=mountain">Mountain</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=art+gallery">Art Gallery</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=ski+holiday">Ski Holiday</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=beach+holiday">Beach Holiday</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=cave">Cave</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=lake">Lake</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=natural+resort">Natural Resort</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=fortress">Fortress</a>
                                    <a class="dropdown-item" href="/Attraction?searchStringCategoryName=church">Church</a>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @*text-dark*@" asp-area="" asp-controller="Excursion" asp-action="Index">Excursions</a>
                        </li>
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Client")))
                        {
                            <li class="nav-item">
                                <a class="nav-link @*text-dark*@" asp-area="" asp-controller="Reservation" asp-action="MyReservations">My Reservations</a>
                            </li>
                        }
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                            <li class="nav-item active">
                                <div class="dropdown show">
                                    <a class="nav-link active dropdown-toggle" href="#"
                                       id="dropdownMenuLink"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Static modul
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Client" asp-action="Index">Clients</a>
                                        <a class="dropdown-item" asp-controller="Reservation" asp-action="Index">Reservations</a>
                                        <a class="dropdown-item" asp-controller="Statistics" asp-action="Index">Statistics</a>
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @*text-dark*@" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @*text-dark*@" asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
                        </li>
                      
                        <li class="nav-item" style="padding-right:100px">
                            <a class="nav-link @*text-dark*@" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid @*body-container*@  " style="background-color: #192d50">
        <main role="main" class="@*pb-3*@ pt-5 mt-5">
            @RenderBody()
        </main>
    </div>
    <footer style="background-color: #030b15;"  class="border-top footer @*text-muted*@">
        <div class="container" style="font: #045fc8; color: #045fc8">
            &copy; 2023 - BulgariaApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //document.addEventListener("DOMContentLoaded", function () {
        //    window.addEventListener('scroll', function () {
        //        if (window.scrollY > 50) {
        //            document.getElementById('navbar_top').classList.add('fixed-top');
        //            // add padding top to show content behind navbar
        //            navbar_height = document.querySelector('.navbar').offsetHeight;
        //            document.body.style.paddingTop = navbar_height + 'px';
        //        } else {
        //            document.getElementById('navbar_top').classList.remove('fixed-top');
        //            // remove padding top from body
        //            document.body.style.paddingTop = '0';
        //        }
        //    });
        //});
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
