@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/css/log.css" rel="stylesheet"/>

<div class="divdiv">

    <div class="sidenav mt-1" style="background-color: #192d50">
        <div class="login-main-text" style="color: #d6c3a5">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>

    <div class="row mt-3 mb-5" >

        <div class=" pl-4 ml-3 float-left" style="border: solid 2px #36454F; width: 49%; background-color: #4f6073;color: white ">
            <section>
                <form id="account" method="post">
                    <h4 class="pt-3 font-weight-bold" >Log in</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" style=" width: 330px;" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" style=" width: 330px;"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button btn-black " style="border-radius:90px">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>

        </div>
        <div class="@*col-xs-6 col-md-6*@ float-right pt-5" style="border: solid 2px black; background-color: #5d6d80; width: 49% ">
            <div class="center text-white">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start your journey with us</p>

                <button class="button btn-black ghost " onclick="window.location.href='/Identity/Account/Register'">Sign up</button>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
