@model BulgariaApp.Models.Excursion.ExcursionEditVM

@{
    ViewData["Title"] = "Edit";
}
<style>
    h1 {
        color: #d6c3a5;
        font-size:45px;
    }

    h3 {
        color: #d6c3a5;
    }

    dt {
        color: #d6c3a5;
        font-size: 18px;
        font-style: italic;
    }

    dd {
        color: white;
        font-size: 18px;
    }
    div {
        color: #d6c3a5;
    }

</style>
<body style="background-color: #192d50;">
    <h1 class="pb-5 pt-5 pl-5 ml-5 mb-2">Edit Excursion</h1>


    <hr />
    <div class="row  pl-5 ml-5">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ExcurionName" class="control-label"></label>
                    <input asp-for="ExcurionName" class="form-control" />
                    <span asp-validation-for="ExcurionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture" class="control-label"></label>
                    <input asp-for="Picture" class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture1" class="control-label"></label>
                    <input asp-for="Picture1" class="form-control" />
                    <span asp-validation-for="Picture1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture2" class="control-label"></label>
                    <input asp-for="Picture2" class="form-control" />
                    <span asp-validation-for="Picture2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture3" class="control-label"></label>
                    <input asp-for="Picture3" class="form-control" />
                    <span asp-validation-for="Picture3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Picture4" class="control-label"></label>
                    <input asp-for="Picture4" class="form-control" />
                    <span asp-validation-for="Picture4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AttractionId" class="control-label"></label>
                    @*<input asp-for="AttractionId" class="form-control" />*@
                    <select asp-for="AttractionId" class="form-control text-center">
                        @foreach (var attraction in Model.Attractions)
                        {
                            <option value="@attraction.Id">@attraction.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AttractionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxVisitors" class="control-label"></label>
                    <input asp-for="MaxVisitors" class="form-control" />
                    <span asp-validation-for="MaxVisitors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="pl-5 ml-5 mb-5 pb-5">
        <a asp-action="Index">Back to List</a>
    </div>
    </body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
